
  @font-face {
    font-family:"Norse";
    src: url(files/logo.otf);
  }

  body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100vw;
    height:100vh;
  }
  
  /* Default///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




  main{

    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:row;
  }

  .mainleft{

    height:100vh;
    width:30vw;
    position:relative;
    background-image: url(files/halie-west-25xggax4bSA-unsplash\(1\).jpg);
    background-size: cover;
    flex:1 1 auto;
    color:white;
    display:flex;
    flex-direction: column;
  }

  .brand{
    height:auto;
    width:100%;
    background:hsla(0, 0%, 0%, 0.4);
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:13rem;
    font-family:"Norse";
    font-size:7rem;

  }

  .logo{
   
    height:auto;
    width:100%;
    max-width:7rem;
    

  }

  .brand::after{
   
    content:"ODIN";
    
  }

.artist{
    width:100%;
    height:auto;
    color:white;
    text-align:center;
    font-style: none;
    position:absolute;
    bottom:1.5rem;
    flex:1 1 auto;
    font-size:1.2rem;
    
}

.artist>a{
    text-decoration: underline;
    color:inherit;
}


  /* left side section////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */







.mainright{
    position: relative;
    height:100vh;
    width:70vw;
    background:hsl(220, 13%, 97%);
    flex:1 1 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow-y:scroll;

}

.rightwrapper{
 position:absolute;
 top:6.9rem;
 display:flex;
 flex-direction:column;
 flex:1 1 auto;
 width:100%;
}

.text{

    font-weight:bold;
    font-size:1.5rem;
    width:80%;

}

.text>p{
    padding-left:3rem;
    padding-bottom:5rem;
}
#profile{

    color:inherit;
}


.fieldset{

    width:100%;
    height:auto;
    background:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
    border:0;
    box-shadow:0.5rem 0.4rem 0.2rem lightgray;
    display:flex;
    align-items:start;
    flex-direction:column;
    flex:1 1 auto;
    border-top:1px solid lightgray;
    margin-bottom: 3rem;

}

.legend{
    background:hsl(0, 0%, 100%); 
    padding-left:3rem;
}

.fieldtop,.fieldmiddle,.fieldbottom{
    display: flex;
    flex-direction: row;
   
}

.fieldtop>div,.fieldmiddle>div,.fieldbottom>div{

    display:flex;
    flex-direction: column;
    color:hsl(0, 0%, 15%,0.9);
    font-size:0.73rem;
    font-weight:bold;
    
}

#name,#email,#passwrd{
   margin-left:3rem;
   margin-right:6rem;
   margin-bottom:0.7rem;
}

label[for="name"],label[for="email"],label[for="passwrd"]{
    margin-left:3rem;

}

input{

    border-radius:0.3rem;
    padding:0.5rem;
    height:auto;
    width:16rem;
    border:1px solid lightgray;
   
}

input:focus{

    outline:1px solid blue;
}

input:invalid{
    outline:1px solid red;
}


button{
    color:white;
    background:#596D48;
    padding:0.8rem;
    width:15rem;
    border-radius:0.4rem;
    border-color:#596D48;
    box-shadow:0.1rem 0.2rem 0.2rem gray;
    font-weight:bold;
}

.btnsec>p>span{
    color:#596D48;
    font-weight: bolder;
}

.btnsec{
    
    margin-left:3rem;
    font-weight:bolder;
    
}











@media (max-width:1000px){

    .brand::after{

        content:"";
    }

    .artist{

            font-size:0.9rem;
            display:inline-block;
            
        
    }

    .logo{
   
        height:auto;
        width:100%;
        max-width:7rem;
    }

    .fieldtop,.fieldmiddle,.fieldbottom{
        display: flex;
        flex-direction:column;
       
    }
    #name,#email,#passwrd,#lastn,#repasswrd,#tel{
        margin-left:0.3rem;
        margin-right:0rem;
        margin-bottom:0.2rem;
     }

     label[for="tel"],label[for="name"],label[for="email"],label[for="passwrd"],label[for="repasswrd"],label[for="lastn"]{

        margin-left:1rem;
     }

     .rightwrapper{
        position:absolute;
        top:0.2rem;
        display:flex;
        flex-direction:column;
        flex:1 1 auto;
        width:100%;
       }

    .text>p{
        padding-left:3rem;
        padding-bottom:1rem;
    }

    .fieldset{
        background:hsl(0, 0%, 100%);
        margin-bottom: 2rem;
    }

    .btnsec{
       
        margin-left:0.7rem;
        font-weight:bolder;
        
    }

    .text{

        font-weight:bold;
        font-size:1.3rem;
        width:90%;
    
    }

    .legend{

      padding-left:1rem;
    }

    input{

      width:13rem;
    }
  }

  
